<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Banco Distribuído</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<div class="container">

    <h1>Banco Distribuído</h1>

    <input id="nome" placeholder="Nome do produto">
    <input id="preco" placeholder="Preço (ex: 10,00)">

    <button onclick="cadastrar()">Cadastrar</button>
    <button onclick="listar()">Atualizar</button>

    <h2>Produtos</h2>
    <ul id="lista"></ul>

</div>

<script src="/static/script.js"></script>

</body>
</html>